:root{
    --colorfondopagina:#FFFFFF;
    --colorheader:#fff;
    --fuenteRaleway:font-family: 'Raleway', sans-serif;/*fuente de la cabecera de la pagina*/
    --fuentegeneral:font-family: 'Roboto', sans-serif;/*fuente general para la pagina*/
}
body{
    
    background-color: var(--colorfondopagina);
    
}

/*Estilos index.html*/
/*header*/
.header{
    width: 1600px;
    height: 80px;
    background-color:var(--colorheader);
    
    
}
/* .navegacion-principal{
    display:flex;
    justify-content: space-evenly;

} */
.enlaces{

    /* display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem ; */
    list-style-type: none;
    text-decoration: none;
    
}

.contactos{

        /* display:flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem; */
    list-style-type: none;
    text-decoration: none;
    
    
}
a{
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;

list-style-type: none;
text-decoration: none;
}
a:hover{
    color:#2196f3;
}
a:focus {
color: #2196F3;
}
a:active{
    color:#2196F3;
}
.webstudio{
    font-family:'Raleway';;
    font-style: normal;
    font-weight:bold;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196f3;
}

/*seccion principal pagina*/
.seccion-principal{
    background-color: #2f303a;
    margin-top: 80px;
}
h1{
font-family:'roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.servicio{
    color: #FFFFFF;
    background-color: #2196f3;
    cursor: pointer;
}

/*servicios ofrecidos*/
.cualidades{
    list-style-type: none;
    text-decoration: none;
}
h3{
    font-family:'roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
.cualidades p{
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
}
/*productos*/
h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
}
.imagenes-producto{
   list-style-type: none;
}
.aplicaciones{
    width: 373.16px;
height: 323.7px;
}
   
   
/*nuestro equipo*/
.equipo{
    list-style-type: none;;
}
.integrantes-equipo {
       
         Width: 270px;;
         Height: 260px;
}
.nuestro-equipo h3{
font-family: 'Roboto';
font-style: normal;
text-align: center;;
font-weight: 500;
font-size: 16px;
}
.nuestro-equipo p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;;

    }
/*footer*/
.footer {
    background-color: #2f303a;
    top:80x;
    
}
.footer p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #FFFFFF;
}
.contactos{
    list-style-type: none;
}
.contactame  {
color:rgba(255, 255, 255, 0.6);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
font-style: normal;
font-weight: 400;
font-size: 14px;

}

/*estilos portafolio.html */
.botones-filtro{
    list-style-type: none;
    margin-top: 80px;
    /* display: flex;
    justify-content:center;
    
    padding: 10px;
    gap: 20px; */

}

.estilos-boton{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
cursor: pointer;

}
.estilos-boton:hover{
    background-color: #2196F3;
    color: #FFFFFF;
}
.lista-tarjetas{
    list-style-type: none;
    
}
h4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
color: #212121;
}
.categorias p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
}